{% load menu_tags %}


<nav class="header__menu">
    <ul>
        <li class="active"><a href="{% url 'home' %}">Главная</a></li>
        {% get_last_posts %}
        {% get_categories %}
        <li><a href="{% url 'about' %}">О нас</a></li>
        <li><a href="{% url 'contact' %}">Контакты</a></li>
    </ul>
    {% if request.user.is_authenticated %}
        <h2>{{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></h2>
    {% else %}
        <a class="redlink" href="{% url 'login' %}">Вход</a>
        <a class="redlink" href="{% url 'register' %}">Регистрация</a>
    {% endif %}
</nav>
